* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins';
    text-decoration: none;
}

/* FONT */
@font-face{
    font-family: 'soria' ;
    src:url('/soria/soria-font.ttf') format('truetype');
}

/* NAVIGATION BAR CONTAINER */
.navigationbar{
    background-image: url('./photos/1.png');
    background-position: top;
    background-size: cover;
    position: sticky;
    top:0;
    padding-bottom: 10px;
    z-index:1000;
}

/* COLUMNS */
.col{
    display: flex;
    list-style: none;
    padding-top: 10px;
}


/* LINKS */
.col li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #F5F5F5;
}


    /* COLUMN 1 */
/* LOGO */
#col1 img{
    width:90px;
}

/* LIST/TEXT */
#col1 li{
    
    font-size: 40px;
    font-weight: 600;
}

    /* COLUMN 2 */
/* COL 2 ITEMS */
.col-6 li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
    padding-top: 10px;
    transition: .3s;
}
.col-6 li a:hover{
    color:#ecf393;
    text-shadow: 2px 2px 2px black;
}
.col-6 li {
    list-style: none;
}
#col2{
    display:flex;
    justify-content: center;
    align-items: center;
}

#col2 li{
    padding:10px;
    padding-left: 60px;
    font-size: 20px;
    
}
    /* COLUMN 3 */
/* COLUMN 3 ITEMS */
#col3{
    display:flex;
    justify-content: center;
    align-items: center;
}
#col3 li{
    padding:10px;
    font-size: 20px;
    font-weight: 600;
}


/* LANDING PAGE - FIRST DIV */

.motto {
    padding:90px;
    padding-top:30px;
    padding-bottom: 240px;
}

.motto p{
    font-size: 80px;
    font-family: 'Soria';
    color: #F5F5F5;
}
.first_div {
    background-image: url(./photos/1.png);
    background-position: center;
    background-size: cover;
}

/* BUTTON 'shop now' */
.motto a{
    text-decoration: none;
}
.motto a p {
    font-size: 40px;
}

/* SECOND DIV */
.second_div{
    display:flex;
    justify-content:space-around;
    background-image: url(./photos/2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.second_div img {
    width:300px;
    margin:40px;
    border-radius: 50px;
}
.second_div img:hover{
    scale: 1.1;
    z-index:1;
   
}
/* THIRD DIV */
.center-text {
    text-align: center;
}
.center-text h2{
    font-size: 50px;
    color:#273826;
}
.shop-content{
    display:flex;
    padding:20px;
    background-image: url(./photos/3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}
#text{
    color: #F5F5F5;
}
.product-box{
    flex:1;
    padding:30px;
    position: relative;
    display: inline-block;
}
.product-box:hover{
    border:1px solid black;
}
.product-box img{
    width:100%;  
}
.product-text{
    position: absolute;
    top:40px;
    left:40px;
    background-color: #E0E697;
    padding:5px;
    border-radius: 20px;
}

/* TESTIMONIALS */
.testimonial{
    padding-top: 50px;

}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;

}
.testimonial img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px)
}

.fa.fa-quote-left{
    font-size: 34px;
    color:#648a65;
}

.client-reviews{
    text-align: center;
}



.contact{
    background: #204825;
    
}
.contact-info {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
    gap: 3rem;
}
.contact-info a {
    color:black;
}

.contact-info a :hover{
    color: rgb(223, 38, 38);
}
.links a{
    color: black;
}

.links a:hover{
    color: rgb(220, 28, 28);
}

.contact-info p{
    align-items: center;
}


.shop-container{
    margin-top: 0px;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap:1.5rem;
    margin-bottom: 0px;
}
.product-box img{
    width:100%;
    height:auto;

}

.product-box{
    position: relative;
}
.product-box:hover{
    border: 2px solid green;
    margin:5px;
    
}
.add-cart{
    position:absolute;
    top:285px;
    right:4px;
    font-size: 25px;
}
.add-cart{
    position:absolute;
    bottom:4px;
    right:4px;
    font-size: 25px;
    color:#2d2f2d;
}
.add-cart:hover{
    color:green;
}

.col{
    margin-bottom: 30px;
}
.delivery{
    padding:5%;
    border: 2px solid green;
    margin:5%;
}

.settings{
    padding: 10%;
    text-align: center;
}
.settingstext{
    margin:1%;
}
.click:hover{
    background-color: #ccc6c6;
}
.as{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));

    
}
.mycontainer{
    display:flex;
    align-items: center;
}
.picture{
    padding:2%;
}

.secondcontainer{
    display:flex;
    justify-content: space-between;
}
.name{
    font-size: 30px;
}

.thirdcontainer{
    display:flex;
    justify-content: space-between;
}

.myrow{
    display:flex;
}
#col1{
    border-right: 2px solid #204825;
}

    
.hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color: red;
    z-index:1000;
  }

#gift{
    background-image: url(photos/giftcard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#getstarted{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding-bottom: 20px;
    padding-left: 20px;

}
#texts{
    padding-left:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label,.col-12,.form-text {
    padding: 20px;
    font-size: medium;
}
input{
    padding: 8px;
    border-radius: 10px;
    font-size: medium;
    font-weight: 500;
}
.mb-3{
    padding:20px;
    
}
.accountBtn{
    display: flex;
    justify-content:start;
    padding: 20px;
    gap: 20px;
}
button{
    padding: 10px;
    font-size: medium;
    font-weight: 400;
}

#colom{
    display: flex;
}

/* responsive-css */
@media(max-width:890px){
    header{
        padding:20px 3%;
        transition: .4s;
    }
    .brand{
        font-size: 20px;
    }
}

#gc{
    padding-top: 10%;
}
#color {
    box-shadow: 0 0 20px 0px rgba(34, 121, 34, 0.619);
}
#space{
    padding: 30px;
}
#passwordHelpBlock{
    font-size: 12px;
    color: #2c2c2c;
    font-weight: 500;
}
.navmenu li .active{
    color: #204825;
    font-weight: 700;
    border-bottom: 2px solid #204825;
}
.active {
    color: #1c7a20;
    font-weight: 700;
    border-bottom: 3px solid #204825;
}



@media (min-width: 992px){
    .d-lg-inline-block {
    display: inline-block!important;
}}

@media(max-width:750px){
    .navmenu{
        position:absolute;
        top:100%;
        right:-100%;
        width: 300px;
        height:130vh;
        background:#edfff1;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu .open{
        right:0;
    }
    
}
@media(max-width:630px){
    .maintext h1{
        font-size: 50px;
        transition: .4s;
    }
    .maintext p{
        font-size: 18px;
        transition: .4s; 
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
    .box{
        padding-top:20px;
    }
}

